@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

:root {
    background-color: rgb(45,45,45);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', cursive;
}

h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-align {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 3rem;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    color: rgb(10,10,10);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
    box-shadow: rgb(180, 51, 51);
    transition: transform 150ms;
    transform: scale(1.03);
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscores-button {
    background: linear-gradient(90deg, rgba(235,241,11,1) 0%, rgba(233,230,0,1) 47%, rgba(234,255,0,1) 100%);
}

#highscores-button:hover {
    box-shadow: rgba(252,176,69,1);
}